<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">egg 在线留言板</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="/comment">首页</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" id="right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="myComment">我的留言</a>
            </li>
            <li class="layui-nav-item" id="userBanner">
                <a href="/login.html">
                    请登录
                </a>
            </li>
            <li class="layui-nav-item"><a onclick="exit()" href="/api/exit">退出</a></li>
        </ul>
    </div>
</div>

<script>
    // 获取用户信息，并更新到导航栏
    window.onload = ()=>{
      $.get('/api/user',
        {},
        (data)=>{
            if (data.code===0){
              const userInfo = data.data;

              let html = `<li class="layui-nav-item">
                <a href="javascript:;" id="nameLink">
                    <img src="${userInfo.avatar}" id="header-image"  class="layui-nav-img">
                    ${userInfo.name}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/${userInfo.account}" id="personCenter">个人中心</a></dd>
                    <dd><a href="">修改密码</a></dd>
                </dl>
            </li>`;

              $('#myComment').attr("href","/comment/"+userInfo.account);
              $('#userBanner').html(html);
            }
        },
      );
    }

    function exit(){
      $.post('/api/exit',function (data,status) {
        if (data.code !== 0){
          window.location.href= document.location.protocol + '//' +window.location.host+'/login.html';
        }else{
          layer.msg('退出失败');
        }
      })
    }

</script>
