<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的留言记录</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/user.css">
    <link type="text/css" href="/css/index.css" rel="stylesheet" />

    <script type="text/javascript" src="/js/utils.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body >

<!-- 头部信息 -->
<div id="header">
    {% include  "header.html" %}
</div>

<div class="layui-container">
    <!-- 留言tabs-->
    <div class="layui-tab layui-tab-card"  lay-filter="tab" style="width: 1170px;">
    <ul class="layui-tab-title">
        <li class="layui-this">我的留言</li>
    </ul>

    <div class="layui-tab-content" style="height: 1000px;">
        <div class="layui-tab-item layui-show">
            <!-- 留言展示部分-->
            {% for item in list %}
            <div class="layui-container" id="{{item._id}}" >

                <div class="layui-row">
                    <!-- 留言名字留言内容 -->
                    <div class="layui-row" >
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <img src="{{item.creator.avatar}}" class="layui-nav-img">  【{{item.creator.name}}】  <label>{{ helper.parseDateString(item.createTime) }}</label>
                            </div>
                            <div class="layui-card-body" id="context_{{item._id}}">{{item.context}}</div>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md2">
                            <button type="button" class="layui-btn layui-btn-sm" onclick="toggleReply('{{item._id}}')">查看评论</button>共<span>{{item.replies.length}}</span>条
                        </div>
                        <div class="layui-col-md3  layui-col-md-offset7">
                            <button type="button" onclick="deleteComment('{{item._id}}')" class="layui-btn layui-btn-sm layui-btn-danger">删除</button>
                            <button type="button" onclick="editComment('{{item._id}}')" class="layui-btn layui-btn-sm">编辑</button>
                        </div>

                    </div>

                    {% if item.replies.length > 0%}
                    <div id="reply_list{{item._id}}" style="display: none">
                        <!-- 回复-->
                        {% for reply in item.replies %}
                        <div class="layui-row" >
                            <div class="reply_list" id="reply_list" >

                                <div class="reply"  id="{{reply._id}}">
                                    <span class="reply_name">{{reply.createUser.name}}</span>回复<span class="reply_name">{{reply.toUser.name}}</span>：<span class="reply_content" id="context_{{reply._id}}">{{reply.context}}</span>

                                    <a  data-id="1" class="del_reply">
                                        <i class="icon layui-icon" onclick="deleteReply('{{item._id}}','{{reply._id}}')" style=" cursor:pointer;" >删除</i>
                                    </a>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

                <!-- 留言展示框 -->

                <hr>

            </div>
            {% endfor %}
            <!-- 分页按钮-->
            <div  class="layui-row">
                <div id="demo1"></div>
            </div>
        </div>
    </div>
</div>


</div>

<script src="/layui/layui.js"></script>

<script>
  layui.use(['element','form','layer','laypage'], function(){
    const laypage = layui.laypage;
    const pageNum = getQueryVariable('pageNum');
    //总页数大于页码总数
    laypage.render({
      limit:5,
      elem: 'demo1',
      curr:pageNum,
      limits:[5,10,15,20],
      count: {{count}}, //数据总数,
      jump: function(obj,first){
        console.log(obj);
        //首次不执行
        if(first){
          return;
        }
        const param = `pageNum=${obj.curr}&pageSize=${obj.limit}`
        window.location.href= document.location.protocol + '//' +window.location.host+'/comment/xjf?'+param;

      },
    });

  });

  function editComment(commentId) {
    const contextId = "#context_"+commentId;
    // 修改弹出框里面的内容
    const context = $(contextId).html();
    layer.open({
      type: 1,
      title: '请输入修改内容',
      area: ['900px', '600px'],
      shadeClose: true, //点击遮罩关闭
      // skin: 'yourclass',
      content: `<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <form class="layui-form" >
                <textarea  id="text_board" lay-verify="required"  lay-reqtext="请输入留言内容" placeholder="请输入留言" class="layui-textarea">${context}</textarea>
                <button class="layui-btn"  onclick="updateComment('${commentId}')" id="submit" lay-submit lay-filter="formDemo">修改留言</button>
            </form>
        </div>
    </div>
</div>`,
    });
  }

  <!-- 提交留言 -->
  function updateComment(commentId) {
    const context = $("#text_board").val();
    $.ajax({
      url:`/api/comment/${commentId}`,
      data:{context:context},
      type: 'put',
      success: function(data) {
        const pageNum = getQueryVariable('pageNum')||1;
        const pageSize = getQueryVariable('pageSize')||5;
        const param = `pageNum=${pageNum}&pageSize=${pageSize}`
        const oldHref = window.location.href;
        const link = oldHref.split('?')[0];
        window.location.href= link+'?'+param;
      }
    });
  }

  // 删除回复
  function deleteReply(commentId,replyId){
    layer.confirm('确定要删除回复吗？', {
      btn: ['取消','确定'] //按钮
    }, function(){
      layer.closeAll();
    }, function(){
      $.ajax({
        url:`/api/reply/${commentId}/${replyId}`,
        type: 'Delete',
        success: function(data) {
          if (data!==1){
            $(`#${replyId}`).remove();
            const countSpan =  $(`#${commentId}Count`);
            const num = countSpan.text();
            countSpan.text(num-1);
          }else{
            layer.msg('删除回复失败')
          }
        }
      });
    });

  }

  function deleteComment(commentId) {
    layer.confirm('确定要删除留言吗？', {
      btn: ['取消','确定'] //按钮
    }, function(){
      layer.closeAll();
    }, function(){
      $.ajax({
        url:`/api/comment/${commentId}`,
        type: 'Delete',
        success: function(data) {
          $(`#${commentId}`).remove();
        }
      });
    });
  }


  function toggleReply(commentId){
    $(`#reply_list${commentId}`).toggle();
  }


</script>
</body>
</html>
